root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 100
insert_final_newline = true
trim_trailing_whitespace = true

# ESTO ARREGLA LOS IMPORTS
ij_kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^

# ESTO ARREGLA LAS 50 FALTAS DE COMAS (Trailing Commas)
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
kotlin_imports_layout = *,java.**,javax.**,kotlin.**,^